<p>Title:</p>
<p><%= @book.title %></p>
  
<p>Body:</p>
<p><%= @book.body %></p>
  
<span>
<%= link_to 'Edit', book_edit_path(@book.id) %>
</span>

<span>
<%= link_to 'Back', book_index_path(@book) %>
</span>
