* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.top-main{
  margin: 20px;
  line-height: 3em;
}

.index{
  width: 90%;
  margin: 0 auto;
}
.books-heading{
  margin: 20px 0;
  line-height: 0.8em;
}